{% load static %}
<!DOCTYPE html>
<html lang=""es class="h-100">
    <head>
        <meta charset="UTF-8">
       
        <title>Django Blog</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <!-- hoja de estilos-->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        
    </head>
    <body class="h-100" >
        
        <header class="d-flex justify-content-center">
            <h1><a href="{%url 'home'%}">Django Blog</a></h1>
        </header>
        <nav class="navbar d-flex justify-content-between nav-main p-2">
            <h1 class="nav-link" href="#">menu</h1>
            {% if user.is_authenticated %}
                <p> Bienvenido {{user.username}}!</p>
                <p><form id="logout-form" action=" {% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class=" btn btn-info">Cerrar sesión</button>
                </form></p>
        
            {% else %}
            <p>Usuario no ha iniciado sesión</p>
            <p><form id="login-form" action="{% url 'login' %}" method="get">
                {% csrf_token %}
                <button class="btn btn-info ml-auto"  type="submit">iniciar sesion</button>
            </form></p>

            <p><form id="signup-form" action="{% url 'signup' %}" method="get">
                {% csrf_token %}
                <button class="btn btn-info ml-auto" type="submit">Registrarse</button>
            </form></p>
            {% endif %}
        </nav>
        <main class="d-flex justify-content-center h-100 ">
            {% block content %}
            {% endblock content %}
        </main>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>